.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
  // display: flex;
  // margin-left: -30px;
  &__item {
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% / 2) - 30px);
      margin-left: 30px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% / 4) - 30px);
      margin-left: 30px;
      margin-bottom: 0;
    }

    &::before {
      margin-bottom: 30px;
      display: block;
      content: "";
      height: 120px;

      background-color: #f5f4fa;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 4px;
    }
    &.icon-antenna::before {
      background-image: url(../images/icon/antenna.svg);
    }
    &.icon-clock::before {
      background-image: url(../images/icon/clock.svg);
    }
    &.icon-diagram::before {
      background-image: url(../images/icon/diagram.svg);
    }
    &.icon-astronaut::before {
      background-image: url(../images/icon/astronaut.svg);
    }
  }
  &__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $titleColor;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
}
