.header {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ececec;
}
.header-box {
  @media screen and (max-width: 767px) {
    padding-right: 15px;
    padding-left: 15px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  display: flex;
  align-items: center;
}
