.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $brandColor;
  &_light-bg {
    color: #000000;
  }
  &_dark-bg {
    color: #ffffff;
  }
}
