.menu-btn {
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (max-width: 767px) {
    position: absolute;
    right: 15px;
    top: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    &__icon {
      width: 40px;
      height: 40px;
      fill: #000000;
      transition: fill $animationTime $timingFunction;

      &:hover,
      &:focus {
        fill: $brandColor;
      }
    }
  }
}

.menu {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: 1;

    padding: 48px 40px;

    background-color: #ffffff;

    transform: translateX(100%);
    transition: transform $animationTime $timingFunction;
    &.is-open {
      transform: translateX(0);
      transition: transform $animationTime $timingFunction;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    width: 100%;

    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 95px;
  }
}

// OLD
.nav,
.nav-list {
  @media screen and (min-width: 320px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.nav-list__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }
}

.nav-list__link {
  @media screen and (min-width: 320px) {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;

    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;

    position: relative;
  }
  transition: color $animationTime $timingFunction;
  color: $mainColorLinks;
  &.current,
  &:hover,
  &:focus {
    color: $brandColor;
  }
  &.current {
    &::after {
      @media screen and (min-width: 768px) {
        content: "";
        width: 100%;
        height: 4px;

        position: absolute;
        bottom: -1px;
        left: 0;

        border-radius: 2px;
        background-color: $brandColor;
      }
    }
  }
}
// ------------------------------------------HEADER CONTACTS
@media screen and (min-width: 768px) {
  .header-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
}

.header__contacts-list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;

    margin-bottom: 62px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.contacts-list__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    font-size: 12px;

    color: #757575;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }

  &:last-child {
    @media screen and (max-width: 767px) {
      font-size: 34px;

      margin-bottom: 32px;

      color: $brandColor;
    }
    @media screen and (max-width: 400px) {
      font-size: 26px;
    }
    @media screen and (min-width: 768px) {
      margin-top: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}

.contacts-list__link {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  color: inherit;

  transition: color $animationTime $timingFunction;

  &:hover,
  &:focus {
    @media screen and (min-width: 768px) {
      color: $brandColor;
    }
  }
  & > .contacts-list__icon {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      transform: scale(0.8);
      margin-right: 8px;

      fill: currentColor;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 10px;
      transform: scale(1);
    }
  }
}
//  --------------------------------SOCIALS
.menu-social {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-social__item {
  display: flex;
  align-items: center;
  &:nth-child(n + 2) {
    &::before {
      content: "";
      display: inline-block;
      margin-right: 10px;
      width: 1px;
      height: 22px;
      background-color: rgba(33, 33, 33, 0.2);
    }
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $brandColor;
  @media screen and (max-width: 440px) {
    font-size: 14px;
  }
}
