.section {
  padding: 94px 0;
  &_bottom-padding {
    padding-top: 0;
  }
}
.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
